<br/>
<center><h2>Edit Booking</h2></center>
<hr style="margin-bottom:50px">
<%= render "form", bookroom: @bookroom %>

<br>

<div>
  <%= link_to "Show this bookroom", @bookroom %> |
  <%= link_to "Back to bookrooms", bookrooms_path %>
</div>
